// COLORS
$color-black:#302929;
$color-white:white;
$color-grey: #E5E5E5;
$color-green:#22e39e;
$color-yellow:#f6b93b;
$color-red:#e55039;
$color-orange:#ff7045;
$color-light-blue:#a6d1fd;
$color-blue:#2e94fa;

// FONTS
$font-roboto-regular: 'RobotoRegular';

$font-worksans-regular: 'WorkSansRegular';
$font-worksans-semibold: 'WorkSansSemiBold';
$font-worksans-bold: 'WorkSansBold';

$font-size-regular:1.6rem;
$font-size-medium:1.8rem;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;